<div class="row">
   <div class="col-md-4 contactUsEmailWrap">
      <form role="form">
         <div class="form-group">
             <label for="name">Name:</label>
             <input type="text" class="form-control" id="name">
         </div>
         <div class="form-group">
             <label for="email">Email address:</label>
             <input type="email" class="form-control" id="email">
         </div>
         <div class="form-group">
          <label for="contactNo">Mobile Number:</label>
          <input type="number" class="form-control" id="contactNo">
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
           <textarea class="form-control" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-default standardButton">Submit</button>            
      </form>

   </div>
   <div class="col-md-8 contactUsMapWrap">
       <div id="contactUsmap"></div>
       <div class="row contactInfoWrap">
         <div class="col-md-4 addressInfoWrap">
            <address>
               #9/11, 
               9th Main,
               Hongasandra road, Garvebhavi palaya ,
               Bangalore 560102
            </address>
            
         </div>
       </div>
   </div>
</div>