.post_img{
  width: 400px;
  height: auto;
}

.post .profilepic{
    float: left;
    width: 30px;
    height: 30px;    
    border-radius: 24px;
}

.extraImg{
  position: relative;
  height: 400px;
}

.extraImg .extText{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 50px;
}